files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_enable_ssl.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      echo 'Installing letsencrypt cert'
      wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto
      sudo mkdir -p /var/www/acme-challenge
      sudo ./certbot-auto certonly --debug --non-interactive --email you@example.com --agree-tos --authenticator webroot --webroot-path /var/www/acme-challenge --domains YOURDOMAIN.com --domains www.YOURDOMAIN.com --keep-until-expiring --staging
      sudo mv /etc/nginx/conf.d/ssl.conf.off /etc/nginx/conf.d/ssl.conf
      sudo initctl restart nginx
