# This is the default elastic beanstalk nginx config from
# /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf with a few additions:
#
# Adds location .well-known for letsencrypt/certbot challenges
# Redirects everything else to non-www https

files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream nodejs {
          server 127.0.0.1:8081;
          keepalive 256;
      }

      server {
          listen 8080;
          server_name YOURDOMAIN.com www.YOURDOMAIN.com;

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          access_log /var/log/nginx/access.log  main;

          location ~ /.well-known/ {
              root /var/www/acme-challenge/;
          }

          location / {
              # redirect everything to https
              return 301 https://YOURDOMAIN.com$request_uri;
          }
          
          gzip on;
          gzip_comp_level 4;
          gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;
      }

  # See https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/nodejs-platform-proxy.html
  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      service nginx restart

container_commands:
  10_identify:
    command: "echo 'Running 999-02-overwrite-default-nginx'"
  20_removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
  30_stop_nginx:
    command: "sudo service nginx stop"
    ignoreErrors: true
  40_start_nginx:
    command: "sudo service nginx start"
